:root {
  --accent-color: #00a4e5;
  --accent-second-color: #0f7aa4;
  --main-text-color: #48555b;
  --second-text-color: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* Скидання стилів */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 940px;
}
/* hero */
.hero {
  padding-top: 41px;
  padding-bottom: 71px;

  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__image {
  margin: 0 auto;
  margin-bottom: 317px;
}

.hero__title {
  color: var(--second-text-color);

  margin-bottom: 21px;

  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 5.71px;
}

.hero__text {
  color: var(--second-text-color);

  margin-bottom: 221px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.hero__pretext {
  color: var(--second-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 3.7px;
}

/* header */
.page-header {
  padding-top: 24px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header__link {
  color: var(--main-text-color);

  font-weight: 700;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1.09px;
}

.page-header__link:hover,
.page-header__link:focus {
  color: var(--accent-color);
}

/* nav */
.page-header__item {
  margin-right: 35px;
}

.nav-item:last-child {
  margin-right: 0;
}

.page-header__list {
  display: flex;
}

/* Контейнер */
.page-header__navigation {
  display: flex;
  justify-content: space-between;
}

/* features */
.features {
  padding-top: 58px;
  padding-bottom: 118px;
}

.features__title {
  color: var(--main-text-color);

  margin-bottom: 96px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 2.31px;
}

.features__text {
  color: var(--main-text-color);

  margin-bottom: 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.19px;
}

.features__pretext {
  color: var(--main-text-color);

  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.19px;
}

.features__wrapper {
  width: 405px;
  margin-right: 77px;
}

.features__main-wrapper {
  display: flex;
}

.features__list {
  display: flex;
}

.features__item {
  margin-right: 19px;
}

.features__item:last-child {
  margin-right: 0;
}

/* capabilities */
.capabilities__title {
  color: var(--main-text-color);
  margin-right: 154px;

  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 2.31px;
}

.capabilities__text {
  color: var(--main-text-color);

  font-size: 11px;
  line-height: 1.73;
  letter-spacing: 0.2px;
}

.button {
  display: inline-block;
  color: var(--second-text-color);

  padding: 11px 29px;

  background-color: var(--accent-color);
  font-weight: 700;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.5px;
}

.button:hover,
.button:focus {
  background-color: #0f7aa4;
}

.capabilities__wrapper {
  display: flex;
  justify-content: space-between;
}

/* service */
.service {
  padding-top: 78px;
  padding-bottom: 115px;
}

.service__title {
  color: var(--main-text-color);
  margin-bottom: 13px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.43px;
}

.service__text {
  color: var(--main-text-color);

  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.19px;
}

.service-image {
  margin-bottom: 25px;
}

/* connect */
.connect {
  padding-top: 120px;
  padding-bottom: 231px;
  text-align: center;

  background-image: url(../img/connect.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.connect__title {
  color: var(--main-text-color);
  margin-bottom: 35px;

  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.15px;
}

.service__list {
  display: flex;
}

.service__item {
  width: 295px;
  height: 330px;
  border: 1px solid #e6e6e6;
  margin-right: 27px;
}

.service__item:last-child {
  margin-right: 0;
}

.service__card {
  padding: 39px 17px 39px 17px;
}

/* signup */
.signup {
  background-color: black;
  padding-top: 35px;
  padding-bottom: 35px;
}

.signup__title {
  color: var(--second-text-color);

  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.85px;
}

/* page-footer */
.page-footer {
  background-color: #141a20;
  padding-top: 42px;
  padding-bottom: 40px;
}

.page-footer__title {
  color: var(--second-text-color);

  margin-bottom: 19px;

  font-weight: 700;
  font-size: 11px;
  line-height: 1.18;
  letter-spacing: 0.85px;
}

.footer-logo {
  margin-bottom: 15px;
}

.page-footer__text {
  color: var(--second-text-color);
  margin-top: 15px;

  font-family: OpenSans;
  font-size: 11px;
  line-height: 1.73;
  letter-spacing: 0.85px;
}

.page-footer__link {
  color: var(--second-text-color);

  font-weight: 600;
  text-decoration: none;
  font-size: 11px;
  line-height: 2.27;
  letter-spacing: 0.85px;
}

.page-footer__link:hover,
.page-footer__link:focus {
  color: var(--accent-color);
}

.page-footer__wrapper-first {
  width: 250px;
}

.page-footer__wrapper-second {
  display: flex;
}

.page-footer__main-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-footer__list {
  margin-right: 35px;
}

.features__list:last-child {
  margin-right: 0;
}

.page-footer__item:nth-child(1) {
  margin-top: 32px;
}

.address__item {
  margin-bottom: 10px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  color: var(--second-text-color);

  text-decoration: none;
  font-size: 11px;
  line-height: 1.45px;
  letter-spacing: 0.85px;
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}
.copyright {
  background-color: #171819;
  padding-top: 22px;
  padding-bottom: 23px;
}

.copyright__text {
  color: var(--second-text-color);
  text-align: center;

  font-size: 11px;
  line-height: 1.18;
  letter-spacing: 0.85px;
}

/* Бекдроп */
.backdrop {
  /* бекдроп в нас фіксований */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* прозорий фон для бекдропу */
  background-color: rgba(7, 50, 126, 0.7);
}

/* Модалка */
.modal {
  height: 581px;
  width: 528px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  /* позиціонуємо по центру модалку */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Ховаємо бекдроп з можливістю клацати в елементи */
.backdrop--hidden {
  /* прозорість */
  opacity: 0;
  /* можливість клікати через бекдроп по елементам */
  pointer-events: none;
}

.modal__container {
  margin: 40px;
  /* position: relative; */
}

.modal__text {
  color: #212121;
  margin-bottom: 12px;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  color: #757575;

  margin-bottom: 4px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */

  letter-spacing: 0.01em;
}

.form__item {
  margin-bottom: 10px;
}

.form__input {
  width: 448px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.textarea {
  margin-bottom: 20px;
}

.textarea__element {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.button--close-JS {
  position: absolute;

  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  border-radius: 15px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.user-agree {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.user-agree__checkbox {
  margin-right: 8px;
}

.user-agree__text {
  color: #757575;
  font-family: "Roboto";

  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

.user-agree__accent {
  color: var(--accent-color);
  letter-spacing: 0.03em;
  text-decoration-line: underline;
}

.form__button {
  width: 200px;
  height: 50px;

  margin-left: auto;
  margin-right: auto;

  color: var(--second-text-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}
