:root {
  --accent-color: #00a4e5;
  --accent-second-color: #0f7aa4;
  --main-text-color: #48555b;
  --second-text-color: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* Скидання стилів */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 940px;
}
/* hero */
.hero {
  padding-top: 41px;
  padding-bottom: 71px;

  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  margin: 0 auto;
  margin-bottom: 317px;
}

.hero-title {
  color: var(--second-text-color);

  margin-bottom: 21px;

  font-family: "Bebas Neue", cursive;
  font-size: 60px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 5.71px;
}

.hero-text {
  color: var(--second-text-color);

  margin-bottom: 221px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.hero-pretext {
  color: var(--second-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 3.7px;
}

/* header */
.page-header {
  padding-top: 24px;
  padding-bottom: 23px;
  border-bottom: 1px solid #e6e6e6;
}

.page-header-link {
  color: var(--main-text-color);

  font-weight: 700;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 1.09px;
}

.page-header-link:hover,
.page-header-link:focus {
  color: var(--accent-color);
}

/* nav */
.nav-item {
  margin-right: 35px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-list {
  display: flex;
}

/* Контейнер */
.navigation {
  display: flex;
  justify-content: space-between;
}

/* features */
.features {
  padding-top: 58px;
  padding-bottom: 118px;
}

.features-title {
  color: var(--main-text-color);

  margin-bottom: 96px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 2.31px;
}

.features-text {
  color: var(--main-text-color);

  margin-bottom: 20px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.19px;
}

.features-pretext {
  color: var(--main-text-color);

  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.19px;
}

.features-wrapper {
  width: 405px;
  margin-right: 77px;
}

.features-main-wrapper {
  display: flex;
}

.features-list {
  display: flex;
}

.features-item {
  margin-right: 19px;
}

.features-item:last-child {
  margin-right: 0;
}

/* capabilities */
.capabilities-title {
  color: var(--main-text-color);
  margin-right: 154px;

  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 2.31px;
}

.capabilities-text {
  color: var(--main-text-color);

  font-size: 11px;
  line-height: 1.73;
  letter-spacing: 0.2px;
}

.button {
  display: inline-block;
  color: var(--second-text-color);

  padding: 11px 29px;

  background-color: var(--accent-color);
  font-weight: 700;
  text-decoration: none;
  font-size: 13px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.5px;
}

.button:hover,
.button:focus {
  background-color: #0f7aa4;
}

.capabilities-wrapper {
  display: flex;
  justify-content: space-between;
}

/* service */
.service {
  padding-top: 78px;
  padding-bottom: 115px;
}

.service-title {
  color: var(--main-text-color);
  margin-bottom: 13px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.43px;
}

.service-text {
  color: var(--main-text-color);

  font-size: 13px;
  line-height: 1.77;
  letter-spacing: 0.19px;
}

.service-image {
  margin-bottom: 25px;
}

/* connect */
.connect {
  padding-top: 120px;
  padding-bottom: 231px;
  text-align: center;

  background-image: url(../img/connect.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.connect-title {
  color: var(--main-text-color);
  margin-bottom: 35px;

  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.15px;
}

.service-list {
  display: flex;
}

.service-item {
  width: 295px;
  height: 330px;
  border: 1px solid #e6e6e6;
  margin-right: 27px;
}

.service-item:last-child {
  margin-right: 0;
}

.service-card {
  padding: 39px 17px 39px 17px;
}

/* signup */
.signup {
  background-color: black;
  padding-top: 35px;
  padding-bottom: 35px;
}

.signup-title {
  color: var(--second-text-color);

  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.85px;
}

/* page-footer */
.page-footer {
  background-color: #141a20;
  padding-top: 42px;
  padding-bottom: 40px;
}

.page-footer-title {
  color: var(--second-text-color);

  margin-bottom: 19px;

  font-weight: 700;
  font-size: 11px;
  line-height: 1.18;
  letter-spacing: 0.85px;
}

.footer-logo {
  margin-bottom: 15px;
}

.page-footer-text {
  color: var(--second-text-color);
  margin-top: 15px;

  font-family: OpenSans;
  font-size: 11px;
  line-height: 1.73;
  letter-spacing: 0.85px;
}

.page-footer-link {
  color: var(--second-text-color);

  font-weight: 600;
  text-decoration: none;
  font-size: 11px;
  line-height: 2.27;
  letter-spacing: 0.85px;
}

.page-footer-link:hover,
.page-footer-link:focus {
  color: var(--accent-color);
}

.footer-wrapper-first {
  width: 250px;
}

.footer-wrapper-second {
  display: flex;
}

.main-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  margin-right: 35px;
}

.features-list:last-child {
  margin-right: 0;
}

.footer-item:nth-child(1) {
  margin-top: 32px;
}

.address-item {
  margin-bottom: 10px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.address-link {
  color: var(--second-text-color);

  text-decoration: none;
  font-size: 11px;
  line-height: 1.45px;
  letter-spacing: 0.85px;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.copyright {
  background-color: #171819;
  padding-top: 22px;
  padding-bottom: 23px;
}

.copyright-text {
  color: var(--second-text-color);
  text-align: center;

  font-size: 11px;
  line-height: 1.18;
  letter-spacing: 0.85px;
}
